* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: #151d2f;
}

#submit-btn {
  border: none;
  outline: none;
  width: 20%;
  width: 200px;
  cursor: pointer;
  background: #13fc97 !important;
  color: #151d2f;
  border-radius: 0.5em;
  font-weight: 500;
}
.search-container {
  width: 100% !important;
  display: flex;
  grid-template-columns: 8fr 3fr;
  gap: 1em;
  width: 100%;
  /* min-width: 50em; */
  margin: auto;
  padding: 0.5em;
}

.search-container input {
  padding: 1em;
  border-radius: 0.5em;
  font-weight: 400;

  width: 80% !important;
}

.loader {
  display: none;
  height: 15em;
  width: 15em;
  border: 3.5em solid #2b304d;
  border-top: 3.5em solid #13fc97;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  animation: spin 3s infinite;
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
img + button {
  width: 100%;
  border-radius: 5% !important;
  background: #13fc97 !important;
}
img:hover {
  transition: all 1s;
  transform: scale(1.1);
}
@media (max-width: 425px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}
